.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
}

.menu li,
.menu p{
    padding: 20px 0px;
    margin: 0px 10px;
    list-style: none;
}

.menu li a,
.menu p{
    color: lightgray;
}

.menu li a:hover{
    color: white;
    transition: all 0.3s ease-in-out;
}

.main-nav{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TiArrowSortedDown{
    color: white;
    margin-top: 3px;
    cursor: pointer;
}

@media (prefers-color-scheme: light){
    .menu li a,
    .menu p{
        color: lightgray;
    }

    .main-nav{
        background-color: black;
    }
}

.navbar-logo{
    width: 150px;
    height: auto;
    margin-left: 15px;
}

.dropdown-menu {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.dropdown-menu li {
    list-style: none;
}
  
.dropdown-menu button {
    background-color: transparent;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
  
.dropdown-menu button:hover {
    background-color: #f1f1f1;
}
  