.overall-register{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.txt{
    z-index: 1000;
}

/* Remaining styles will be attained from LoginForm.css */