.overall-login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url();
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 680px;
    width:1000px;
    background-image: url('../assets/bg_login_register2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    backdrop-filter: blur(30px);
    filter: drop-shadow(0px 0px 3em black);
}

.entryform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(30px);
    border-radius: 15px;
    color: white;
    padding: 30px 40px;
    will-change: filter;
    transition: filter 300ms;
    box-sizing: border-box;
}

.wrapper img{
    margin-bottom: 20px;
    height: 100px;
    line-height: 50px;    
    transition: text-shadow 0.2s ease-in-out;
}

.wrapper .input-box{
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0px 0px 20px 0px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255,255, .2);
    border-radius: 40px;
    color: white;
    padding: 0px 45px 0px 30px;
    font-family: 'Poppins', sans-serif;
}

.input-box input::placeholder{
    color: beige;
}

.input-box .FaIcon{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.wrapper .register-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.wrapper:hover img{
    text-shadow: 0 0 10px #00f7ff;
}
